@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'SF Pro Bold';
    src: local('SF Pro Display Bold'),
    url('./assets/fonts/SF Pro/SF-Pro-Display-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #798591;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4e5661;
}

p,*, .ant-typography{
    font-family: "Roboto Slab", serif;
}


h1, h2, h3, h4 {
    font-family: "Roboto Slab", serif;
}
.home-hero-container {
    background: linear-gradient(to top, rgba(255, 158, 27, 0.2) 30%, rgba(255, 158, 27, 0.2) 30%, rgba(255, 158, 27, 0) 100%), url('./assets/bg5.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

ant-collapse-header {
    background-color: #798591 !important;
}
.home-hero-container2 {
    background: linear-gradient(to top, rgba(255, 158, 27, 0.2) 30%, rgba(255, 158, 27, 0.2) 30%, rgba(255, 158, 27, 0) 100%), url('./assets/bg6.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-hero-container3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./assets/bg4.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.stat-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('./assets/img_11.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: transparent;
}

.navbar.colorChange {
    background-color: #fff;
}

.professor-bg {
    background-color: #798591;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23010101' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.link-text {
    color: #798591;
}

.link-text {
    color: #798591;
}

.ant-btn-primary {
    background: #798591 !important;
    border-color: #798591 !important;
}

.bg-main {
    background-color: #798591;
}

.text-col-2 {
    font-size: 14px;
    column-count: 2;
    column-gap: 40px;
    text-align: justify;
    orphans: 0;
}

.ant-btn-primary:hover {
    background: #ce7c11;
    border-color: #ce7c11;
}

.bio {
    background-image: url(./assets/rect3.svg);
  }

@media only screen and (max-width: 767px) {
    .text-col-2 {
        column-count: 1;
        column-gap: 0px;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.list-group-item {
    text-align: left;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.profile-card-bg {
    background-image: url(./assets/header-krems.jpg);
    background-size: cover;
}
.profile-card-bg2 {
    background-image: url(./assets/information-imc-krems.jpg);
    background-size: cover;
}

.profile-card-bg3 {
    background-image: url(./assets/header-alumni.jpg);
    background-size: cover;
}
.profile-card-bg4 {
    background-image: url(./assets/was-kann-das-imc-career-center-fuer-studierende-tun.jpg);
    background-size: cover;
}
.profile-card-bg5 {
    background-image: url(./assets/AF1QipOgeGV2QQd9EN_3yK9VkOqjqGNqxdUUFxTW23HZ=w3003-h749.png);
}
.profile-card-bg6 {
    background-image: url(./assets/header-incoming-exchange-studierende.jpg);
}


.frame-img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    max-height: 130px !important;
    max-width: 130px !important;
}
.frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    height: 26vh;
    padding: 1vmin;
    position: relative;
    text-align: center;
}
.frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}
.frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

video {
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#section-nav {
    margin-top: -67px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    background: white;
}

#anchor-menu {
    padding: 15px;
}

.h2-responsive {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#section-nav .nav-link:hover {
    background: #768692 !important;
    color: white !important;
    opacity: 1 !important;
}

#section-nav .nav-link {
    border: 1px solid rgba(47, 72, 102, 0) !important;
    color: #000000 !important;
    padding: 7px 10px;
    font-size: 14px;
    margin: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    /* background-color: #000000cc; */
}



.news-card {
    display: block;
}

.news-card a {
    text-decoration: none;
}

.news-card-main {
    margin-bottom: 1.875rem;
}

.news-card-main a {
    text-decoration: none;
}

.news-card-main .news-card-img {
    height: 540px;
}

.news-card-main .news-card-title {
    margin-bottom: 1rem;
    -webkit-line-clamp: 1;
    height: 35px;
    font-weight: 700;
    font-size: 26px;
}

.news-card-main .news-card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.news-card-main:hover .news-card-title {
    color: #000;
}

.news-card-img {

    will-change: auto;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.news-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-card-category {
    font-family: "Poppins", sans-serif;
    font-size: 14px; /* Adjust according to .font-regular-14 */
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.news-card-body {
    display: block;
}

.news-card-title {
    font-family: "Poppins", sans-serif;
    font-size: 18px; /* Adjust according to .font-medium-18 */
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 60px;
}

.news-card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.news-card-date {
    font-family: "Poppins", sans-serif;
    font-size: 14px; /* Adjust according to .font-regular-14 */
    margin-bottom: 1rem;
    color: #B2AEAB;
}

.news-card:hover .news-card-title {
    color: #000;
}

.news-card.border-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.news-card.border-shadow .news-card-img {
    margin-bottom: 0;
}

.news-card.border-shadow .news-card-body {
    padding: 18px;
}

.news-card.border-shadow .news-card-title {
    height: auto;
}

.white-text {
    color: #fff;
}

.white-text .section-green-link {
    color: #fff;
}

.white-text .section-header-line {
    background: #fff;
}
